body {
    background-color: #F0F0EE;
    color: #333333;
    width: 75%;
    background-position: center;
    margin: 0;
    padding: 0;
    font-family: font-family: 'Book Antiqua', Palatino, 'Palatino Linotype', 'Palatino LT STD', Georgia, serif;
    font-size: large;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

#tripTable tr:hover {
    background-color:#FFC2E0;
}

p {
	text-align: justify;
    text-justify: inter-word;
}

a:visited {color: #29140}

.heading {
	text-align: center;
	font-weight: 100;
}

.headDivs {
	height: 30px;
    width: 175px;
    border-radius: 5px;
    margin-left:50px;
    margin-bottom:50px;
    background-color: #FFC2E0;
    text-align: center;
    color: inherit;
	text-align: center;
	font-weight: 100;
	text-decoration: none;
    display: block; position:relative; float : left;
}


h4 {
	text-align: center;
}

.heading a, u {
    text-decoration: none;
    color: inherit;
}

.headDivs a, u {
    text-decoration: none;
    color: inherit;
}

table {
	width:70%; 
    margin-left:15%; 
    margin-right:15%;
    border: 2px solid black;

}

th{
	border-spacing : 10px;
	border-bottom: 2px solid black;
	border-right: 2px solid black;
}

td {
	border-spacing : 10px;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
}